<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="KeyConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\79139\source\repos\RitProject\RitProject\DatabaseMarkers.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>